<h1>workssss</h1>
<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0" *ngIf="dish">

  <div fxFlex="40">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3> {{ dish.name | uppercase }} </h3>
        </mat-card-title>
        
      </mat-card-header>
      <img mat-card-image src="{{dish.image}}" alt="{{dish.title}}" >
      <mat-card-content>
        <p>{{dish.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="goBack()">Back</button>
        <button mat-button>Like</button>
        <button mat-button>Share</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40">
    <h2>{{commentsTitle}}</h2>
      <mat-list>
        <mat-list-item *ngFor="let comment of dish.comments">
          <h3 matLine>{{comment.comment}}</h3>
          <p matLine>
            <span matLine> {{comment.rating}} Starts</span>
            <span> -- {{comment.author}}</span> &nbsp;
          <span>{{comment.date | date: 'MMM dd, yyyy' }}</span> </p>
        </mat-list-item>
      </mat-list>
  </div>

</div>